body {
    display: flex;
    flex-direction: column;
    background-color: var(--background2Color);
}
main {
    margin-top: var(--navHeight);
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: calc(100vh - var(--navHeight) - (var(--footerHeight)));
    padding: 1rem 2vw;
}
#admin {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200dvh;
}
#adminAlertDiv {
    display: none;
}
#adminAlertDiv.active {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    backdrop-filter: blur(2px);
}
.loggedInP {
    color: var(--text2Color);
    background-color: var(--background2Color);
    min-height: 10vh;
}
.logDetails {
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
}
.logDetails p {
    font-size: clamp(0.45rem, 0.45rem + 2vw, 1.15rem);
    align-items: center;
    justify-content: center;
}
.logOutDiv {
    flex: 0 1 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text2Color);
    background-color: var(--background2Color);
    font-size: clamp(0.45rem, 0.45rem + 1.5vw, 1.15rem);
    gap: clamp(0.35rem, 0.35rem + 0.5vh, 1.15rem);
}
.logOutButton, .addEventSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text2Color);
    background-color: var(--accent1Color);
    font-weight: 505;
    padding: clamp(0.15rem, 0.15rem + 0.5vh, 0.95rem) clamp(0.35rem, 0.35rem + 1vw, 1.05rem);
    border-radius: 3rem;
}
.eventDataForm {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85vw;
    background-color: var(--background1Color);
    padding: clamp(0.15rem, 0.15rem + 2vh, 1.5rem) clamp(0.35rem, 0.35rem + 3vw, 2rem);
    border-radius: 2rem;
    margin-top: clamp(0.3rem, 0.3rem + 2vw, 0.75rem);
}
.eventDataFormTitle {
    color: var(--text1Color);
    width: 100%;
    margin-bottom: clamp(0.15rem, 0.15rem + 2vh, 1.5rem);
    font-size: clamp(0.45rem, 0.45rem + 2vw, 1.15rem);
}
.eventFormField {
    flex: 1 0 90%;
}
.eventFormLabel {
    width: 90%;
    font-weight: 505;
    z-index: 1;
    width: fit-content;
    color: var(--text1Color);
    background-color: var(--background1Color);
    font-size: clamp(0.5rem, 0.35rem + 2.5vw, 1.15rem);
    margin-left:  clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
    margin-bottom: clamp(-0.5rem, -0.5rem - 5vw, -1rem);
    padding: 0 clamp(0.15rem, 0.15rem + 0.5vw, 0.5rem);
}
#eventDataForm input::placeholder.eventFormInput,
#eventDataForm textarea.eventFormInput {
    color: color-mix(in srgb, var(--text1Color) 70%, transparent); 
}
.eventFormInput,
#eventDataForm input.eventFormInput,
#eventDataForm textarea.eventFormInput {
    color: var(--text1Color);
    line-height: 30px;
    z-index: 0;
    width: 100%;
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1.25rem);
    font-weight: normal;
    text-align: justify;
    border: 1px solid var(--background2Color);
    margin-bottom: clamp(0.25rem, 0.15rem + 1vw, 0.65rem);
    padding: clamp(0.3rem, 0.3rem + 1vw, 0.7rem) clamp(0.65rem, 0.65rem + 7vw, 1.25rem);
    max-width: 95vw;
    border-radius: 2rem;
}
#eventFormField-eventDescription_oneLine textarea,
#eventFormField-eventDescription_multipleLine textarea {
    field-sizing: content;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    resize: none;
    box-sizing: border-box;
}
.formFieldMessage {
    margin-bottom: clamp(0.5rem, 0.35rem + 2vw, 1.15rem);
    padding: 0 clamp(0.65rem, 0.65rem + 7vw, 1.25rem);
    text-align: left;
}
#eventUnit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.subFormFieldOption {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subFormFieldInputRadio {
    z-index: 1;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--background2Color);
    margin-right: 1vw;
}
.addEventSubmitDiv {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: clamp(0.6rem, 0.6rem + 2vw, 1.4rem) 6vw;

}
.addEventSubmit {
    max-width: 30vw;
    transform: scale(1.25);
}
:root.darkMode #logOutContinue {
    color: var(--text1Color);
    background-color: var(--accent1Color);
}
:root.lightMode #logOutContinue {
    color: var(--text2Color);
    background-color: var(--accent1Color);
}
:root.lightMode footer {
    color: var(--text1Color);
    background-color: var(--background1Color);
}
:root.darkMode footer {
    color: var(--text1Color);
    background-color: var(--background1Color);
}
@media only screen and (min-width: 768px) {
    #alertButtons {
        flex-direction: row;
    }
    .logDetails {
        flex: 1 0 70%;
    }
    .logOutDiv {
        flex: 0 1 30%;
    }
    .eventFormField {
        flex: 1 0 45%;
        padding: 0 calc(1.25%);
    }
    .eventFormInput,
    #eventDataForm input.eventFormInput,
    #eventDataForm textarea.eventFormInput {
        width: 100%;
        z-index: 0;
        font-size: clamp(0.65rem, 0.65rem + 0.9vw, 1.25rem);
    }
    #eventFormField-eventDescription_oneLine, #eventFormField-eventDescription_multipleLine {
        flex: 1 0 100%;
    }
}