body {
    display: flex;
    flex-direction: column;
    background-color: var(--background2Color);
}
#timeDivDiv {
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
    justify-content: center;
    align-items: center;
}
#alertLogOut.alerting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(6px);
    background-color: none;
}
#alertLogOutDiv {
    z-index: 5;
    color: var(--text1Color);
    background-color: var(--background1Color);
    padding: clamp(0.35rem, 0.35rem + 2vh, 2rem) clamp(0.5rem, 0.5rem + 1vw, 2rem);
    box-shadow: -1vw 0.2vh 10px var(--background2Color);
    border-radius: 2rem;
}
#alertLoggingOutDiv,
#alertLoggedOutDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: var(--text1Color);
    background-color: var(--background1Color);
    height: fit-content;
    width: fit-content;
    padding: clamp(0.35rem, 0.35rem + 2vh, 2rem) clamp(0.75rem, 0.75rem + 1vw, 3rem);
    border-radius: 2rem;
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1rem);
    font-weight: 505;
    box-shadow: 10px 10px 10px 10px var(--background2Color);
}
#alertButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: clamp(0.5rem, 0.5rem + 2vh, 2rem);
    padding-bottom: clamp(0.5rem, 0.5rem + 0.5vh, 2rem);
    gap: 0.5rem;
}
#logOutCancel,
#logOutContinue {
    padding: clamp(0.2rem, 0.2rem + 1vh, 1rem) clamp(0.15rem, 0.15rem + 2vw, 1.5rem);
    border-radius: 2rem;
}
:root.darkMode #logOutContinue {
    color: var(--text1Color);
    background-color: var(--accent1Color);
}
:root.lightMode #logOutContinue {
    color: var(--text2Color);
    background-color: var(--accent1Color);
}
main {
    margin-top: var(--navHeight);
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: calc(100vh - var(--navHeight) - (var(--footerHeight)));
    padding: 1rem 2vw;
}
.loggedInP {
    color: var(--text2Color);
    background-color: var(--background2Color);
    min-height: 10vh;
}
.logInForm p,
.formTitle {
    color: var(--text1Color);
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1rem);
    font-weight: 505;
    text-align: center;
}
.logInForm {
    color: var(--text1Color);
    justify-content: center;
    align-items: center;
    gap: clamp(0.25rem, 0.25rem + 2.5vw, 1rem);
    padding: clamp(0.35rem, 0.35rem + 2vh, 2rem) clamp(0.5rem,0.5rem + 5vw, 3rem);
    border: 1px solid var(--background2Color);
    background-color: var(--background1Color);
    border-radius: 2rem;
    backdrop-filter: blur(2px);
}
.logInForm label {
    font-weight: 505;
    z-index: 2;
    width: fit-content;
    color: var(--text1Color);
    background-color: var(--background1Color);
    font-size: clamp(0.5rem, 0.35rem + 2.5vw, 1.15rem);
    margin-left:  clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
    margin-bottom: clamp(-0.5rem, -0.5rem - 5vw, -1rem);
    padding: 0 clamp(0.15rem, 0.15rem + 0.5vw, 0.5rem);
}
.logInForm input {
    z-index: 0;
    width: 100%;
    font-size: clamp(0.5rem, 0.35rem + 2vw, 1.15rem);
    height: clamp(0.5rem, 0.5rem + 15vw, 3rem);
    border: 1px solid var(--background2Color);
    padding-left: 15px;
    max-width: 95vw;
}
#passwordEye {
    z-index: 2;
    position: absolute;
    color: var(--text1Color);
    background-color: var(--background1Color);
    font-size: clamp(0.35rem, 0.35rem + 5vw, 1.15rem);
    right: clamp(0.25rem, 0.25rem + 2vw, 0.55rem);
    bottom: var(--passwordEyeBottom);
    text-align: right;
    cursor: pointer;
}
.logInMessage_Button {
    width: 100%;
    gap: clamp(0.1rem, 0.1rem + 1.1vw, 0.35rem); 
}
#logInMessageText {
    font-weight: 400;
    text-align: left;
}
.logInSubmit,
#autoLogOutContinue {
    text-align: center;
    align-self: flex-end;
    width: 50%;
    font-weight: 505;
    font-size: clamp(0.35rem, 0.35rem + 2.5vw, 1.15rem);
    color: var(--text2Color);
    background-color: var(--background2Color);
}
#eventMain {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.logDetails {
    flex: 1 0 70%;
    align-items: center;
    justify-content: center;
}
.logDetails p {
    align-items: center;
    justify-content: center;
}
.logOutDiv {
    flex: 0 1 30%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text2Color);
    background-color: var(--background2Color);
    gap: clamp(0.35rem, 0.35rem + 0.5vh, 1.15rem);
}
.logOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text2Color);
    background-color: var(--accent1Color);
    font-weight: 505;
    font-size: clamp(0.35rem, 0.35rem + 1.5vw, 1.15rem);
    padding: clamp(0.15rem, 0.15rem + 0.5vh, 0.95rem) clamp(0.35rem, 0.35rem + 1vw, 1.05rem);
    border-radius: 3rem;
}
.eventDataForm {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.eventDataFormTitle {
    width: 100%;
}
.eventFormField {
    flex: 1 0 50%;
}
.eventDataForm label {
    width: 90%;
    font-weight: 505;
    z-index: 0;
    width: fit-content;
    color: var(--text1Color);
    background-color: var(--background1Color);
    font-size: clamp(0.5rem, 0.35rem + 2.5vw, 1.15rem);
    margin-left:  clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
    margin-bottom: clamp(-0.5rem, -0.5rem - 5vw, -1rem);
    padding: 0 clamp(0.15rem, 0.15rem + 0.5vw, 0.5rem);
}
.eventDataForm input {
    width: 90%;
    z-index: 0;
    width: 100%;
    font-size: clamp(0.5rem, 0.35rem + 2vw, 1.15rem);
    height: clamp(0.5rem, 0.5rem + 15vw, 3rem);
    border: 1px solid var(--background2Color);
    padding-left: 15px;
    max-width: 95vw;
}


:root.lightMode footer {
    color: var(--text1Color);
    background-color: var(--background1Color);
}
:root.darkMode footer {
    color: var(--text1Color);
    background-color: var(--background1Color);
}
@media only screen and (max-width: 250px) {
    .logInForm {
        max-width: 90vw;
    }
    .logInForm input {
        max-width: 80vw;
    }
}
@media only screen and (min-width: 768px) {
    #logIn {
        min-height: unset;
    }
    .logInForm p,
    .formTitle {
        font-size: clamp(0.5rem, 0.35rem + 2vw, 1.25rem);
    }
    .logInForm {
        gap: clamp(0.25rem, 0.25rem + 5vw, 1.75rem);
        padding: clamp(0.35rem, 0.35rem + 2vh, 2rem) clamp(0.5rem,0.5rem + 5vw, 3rem);
        border: 1.5px solid var(--background2Color);
        border-radius: 3rem;
        margin: clamp(0.5rem, 0.35rem + 2vw, 1.25rem) 0;
    }
    .logInForm label {
        font-size: clamp(0.5rem, 0.35rem + 1.5vw, 1.15rem);
        margin-left:  clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
        margin-bottom: clamp(-0.5rem, -0.5rem - 5vw, -1rem);
        padding: 0 clamp(0.15rem, 0.15rem + 0.5vw, 0.5rem);
    }
    .logInForm input {
        font-size: clamp(0.5rem, 0.35rem + 1.5vw, 1.15rem);
        height: clamp(0.5rem,0.5rem + 7vw, 3rem);
        border: 1.5px solid var(--background2Color);
    }
    .logInMessage_Button {
        display: flex;
        flex-direction: column;
        margin-top: clamp(-0.75rem, -0.25rem - 2vw, -0.25rem);
        gap: clamp(0.1rem, 0.1rem + 1.5vw, 0.4rem);
        padding-bottom: clamp(0.25rem, 0.25rem + 1vw, 1rem);
    }
    #logInMessageText {        
        font-size: clamp(0.5rem, 0.35rem + 1.5vw, 1.15rem);
    }
    .logInSubmit {
        margin: 0;
    }
    #alertButtons {
        flex-direction: row;
    }
}