/* Global Styles */
:root {
    --primaryColor: rgb(56, 70, 135);
    --secondaryColor: rgb(211, 52, 39);
    --navLogoHeight: 150px;
    --navLinkPadding: 20px;
}
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 125px;
}
/* Mobile Styles */
header {
    z-index: 2;
}
#collegeLabel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1vw;
}
#collegeLabel img:first-child {
    order: 1;
    flex: 1 1 55%;
    max-width: 120px;
}
#collegeLabel img:last-child {
    order: 2;
    flex: 1 1 45%;
    align-self: flex-start;
    max-width: 110px;
    margin: 0 5px;
}
#collegeDetails {
    order: 3;
    flex: 1 1 100%;
    margin-top: 1rem;
}
#collegeDetails #name {
    font-size: 1.25rem;
    margin-bottom: 0.85rem;
}
#collegeDetails #address {
    font-size: .85rem;
}
/* nav bar styles */
nav {
    display: none;
    flex-direction: row;
    height: calc(0.8 * var(--navLogoHeight));
    background-color: var(--secondaryColor);
    padding: 0.5rem 0 0.5rem 0;
    box-shadow: 10px 10px 15px rgba(56, 70, 135, 0.5);
}
.navLogo {
    display: none;
    flex: 0 1 25%;
    flex-direction: row;
    align-self: flex-start;
    align-items: start;
    justify-content: end;
    transition: transform 0.15s ease-in-out;
}
.navImage {
    flex: 1 0 fit-content;
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
}
.navImage img {
    height: var(--navLogoHeight);
    width: auto;
    border: 2px solid white;
    border-radius: 100%;
}
.navTitle {
    flex: 0 1 fit-content;
    justify-content: flex-start;
}
.navTitle p {
    font-size: 0.95rem;
}
.navLinks {
    flex: 1 0 75%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.navLinks a {
    color: white;
    font-size: 1.15rem;
    width: fit-content;
    padding: calc(0.15 * var(--navLinkPadding)) calc(0.5 * var(--navLinkPadding));
    transition: transform 0.15s ease-in-out;

}
.landingSection {
    background-color:var(--primaryColor);
    height: 150vh;
}

@media (min-width: 1024px) {
    :root {
    --primaryColor: rgb(56, 70, 135);
    --secondaryColor: rgb(211, 52, 39);
    --navLogoHeight: 6vw;
    --navLinkPadding: 100px;
}
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 125px;
}
    header {
    z-index: 2;
}
#collegeLabel {
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 8vw  10px 8vw;
}
#collegeLabel img {
    width: 125px;
}
#collegeLabel img:last-child {
    margin: 0 7.5px 0 7.5px;
    width: 110px;
}
#collegeDetails {
    max-width: 75%;
}
#collegeDetails #name {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}
#collegeDetails #address {
    font-size: .95rem;
}
/* nav bar styles */
nav {
    flex-direction: row;
    height: calc(0.8 * var(--navLogoHeight));
    background-color: var(--secondaryColor);
    padding: 0.5rem 0 0.5rem 0;
    box-shadow: 10px 10px 15px rgba(56, 70, 135, 0.5);
}
.navLogo {
    display: none;
    flex: 0 1 25%;
    flex-direction: row;
    align-self: flex-start;
    align-items: start;
    justify-content: end;
    transition: transform 0.15s ease-in-out;
}
.navImage {
    flex: 1 0 fit-content;
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
}
.navImage img {
    height: var(--navLogoHeight);
    width: auto;
    border: 2px solid white;
    border-radius: 100%;
}
.navTitle {
    flex: 0 1 fit-content;
    justify-content: flex-start;
}
.navTitle p {
    font-size: 0.95rem;
}
.navLinks {
    flex: 1 0 75%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.navLinks a {
    color: white;
    font-size: 1.15rem;
    width: fit-content;
    padding: calc(0.15 * var(--navLinkPadding)) calc(0.5 * var(--navLinkPadding));
    transition: transform 0.15s ease-in-out;

}
.landingSection {
    background-color:var(--primaryColor);
    height: 150vh;
}

}