/* #region All Variables, Resets and Base Declaration */
:root.lightMode {
    --primaryColor: rgb(56, 70, 135);
    --secondaryColor: rgb(255, 255, 255);
    --accentColor: rgb(211, 52, 39);
    --text1Color: rgb(0, 0, 0);
    --text2Color: rgb(255, 255, 255);
    --background1Color: rgb(255, 255, 255);
    --background2Color: rgb(0, 0, 0);
}
:root.darkMode {
    --primaryColor: rgb(211, 52, 39);
    --secondaryColor: rgb(0, 0, 0);
    --accentColor: rgb(56, 70, 135);
    --tex1Color: rgb(255, 255, 255);
    --text2Color: rgb(0, 0, 0);
    --background1Color: rgb(0, 0, 0);
    --background2Color: rgb(255, 255, 255);
}
* {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.15;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: var(--text1Color);
    background-color: var(--background1Color);
}
div, section, article, aside, header, nav, main, footer, p {
    display: flex;
    flex-direction: column;
    position: relative;
}
p {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button, input, select, textarea {
    font: inherit;
    background: none;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 1rem;
}
ul, ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* region Mobile–Base styles */
header {
    z-index: 2;
}
.collegeLabel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1240px;
    padding: 0.5rem 2vw;
}
.collegeLabel img:first-child {
    flex: 1 0 50%;
    order: 1;
    max-width: 30vw;
}
.collegeDetails {
    flex: 0 1 100%;
    order: 3;
    margin-top: 0.75rem;
}
.collegeDetails p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75rem;
    font-weight: 550;
    margin-bottom: 0.25rem;
}
.collegeDetails p:last-child {
    font-weight: 200;
    font-size: 0.55rem;
}
.collegeLabel img:last-child {
    flex: 1 0 50%;
    order: 2;
    max-width: 24vw;
    margin: 0 3vw;
}
nav {
    flex-direction: row;
    color: var(--text2Color);
    background-color: var(--primaryColor);
    height: 8vh;
    padding: 0.5rem 0;
}
.navLogo {
    flex: 1 0 65%;
    opacity: 0.5;
}
.navLogo img {
    max-width: 20vw;
}
.navLinks {
    position: absolute;
    right: 0;
    top: 8vh;
    width: fit-content;
    min-width: 30vw;
    height: fit-content;
    gap: 0.1rem;
    background-color: var(--primaryColor);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.navLinks.clicked {
    opacity: 1;
    pointer-events: auto;
}
.navLink {
    padding: 1vh 4vw;
}
.navLink:last-child {
    padding-bottom: 2.25vh;
}
.navLink i {
    margin: 0 2vw;
}
.navHamburger {
    flex: 0 1 35%;
    justify-content: center;
    align-items: flex-end;
    gap: 5.6px;
    padding-right: 6vw;
}
.navHamburgerLine {
    width: 40px;
    height: 4.4px;
    border-radius: 5px;
    background-color: var(--background1Color);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.navHamburgerLine.clicked {
    opacity: 0;
}
.navHamburgerLine.clicked:first-child {
    transform: translateY(12.8px) rotate(45deg);
    opacity: 1;
}
.navHamburgerLine.clicked:last-child {
    transform: translateY(-12.8px) rotate(-45deg);
    opacity: 1;
}