/* Global Styles */
:root {
    --primaryColor: rgb(56, 70, 135);
    --secondaryColor: rgb(211, 52, 39);
    --navLogoHeight: 20vw;
    --navLinkPadding: 20px;
}
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
/* Mobile Styles */
body {
    font-size: 16px;
}
header {
    z-index: 2;
}
.collegeLabel {
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    max-width: 1200px;
    width: 100%;
    padding: 1rem 2vw;
}
.collegeLabel img:first-child {
    flex: 1 0 15%;
    max-width: 120px;
    align-self: flex-end;
}
.collegeLabel img:last-child {
    flex: 1 0 15%;
    max-width: 120px;
}
.collegeDetails {
    flex: 0 2 70%;
    margin-top: 1rem;
}
.collegeDetails p:first-child {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.collegeDetails p:last-child {
    font-size: .85rem;
}
/* nav bar styles */
nav {
    display: flex;
    flex-direction: row;
    color: white;
    height: calc(0.75 * var(--navLogoHeight));
    max-height: 100px;
    background-color: var(--primaryColor);
    padding: 0.5rem 0 0.5rem 0;
}
.navLogo {
    display: flex;
    flex: 0 0 54%;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    transform: translateX(-10vw);
}
.navImage {
    flex: 1 1 60%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5rem;
}
.navImage img {
    height: var(--navLogoHeight);
    max-height: 130px;
    width: auto;
    border: 2px solid white;
    border-radius: 100%;
}
.navTitle {
    flex: 1 0 fit-content;
    justify-content: flex-start;
    margin-left: 1vw;
}
.navTitle p {
    font-size: 1.35rem;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}
.navLinks {
    position: absolute;
    background-color: inherit;
    width: 22vw;
    gap: 0.15rem;
    height: fit-content;
    top: calc(0.5*var(--navLogoHeight) + 2px);
    right: 1vw;
    opacity: 0;
    pointer-events: none;
}
.navLinks.clicked {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.navLink {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    padding: 0.65rem 1.5vw;
    font-size: 1.75rem;
}
.navLink:last-child {
    padding: 0.65rem 1.5vw 0.8rem;
}
.navLinkSymbol {
    flex: 0 1 10%;
    margin: 0 1.25rem 0 0.75rem;
}
.navLinkSymbol i {
    font-size: 1.75rem;
}
.navHamburger {
    display: flex;
    flex: 0 1 42%;
    background-color: inherit;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    padding-right: 5vw;
    gap: 0.4rem;
}
.navHamburgerLine {
    width: 50px;
    height: 0.4rem;
    border-radius: 16px;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.navHamburgerLine.clicked {
    width: 56px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.navHamburgerLine.clicked:first-child {
    transform: translateY(12.8px) rotate(45deg);
    opacity: 1;
}
.navHamburgerLine.clicked:last-child {
    transform: translateY(-12.8px) rotate(-45deg);
    opacity: 1;
}
.landingSection {
    background-color: white;
    height: 150vh;
    justify-content: flex-start;
}
button {
    background-color: var(--secondaryColor);
    margin: 2rem;
    width: fit-content;
    border: none;
    outline: none;
    border-radius: 5rem;
    padding: 1rem 2vw;
    color: white;   
}
@media only screen and (min-width: 768px) {
    :root {
    --primaryColor: rgb(56, 70, 135);
    --secondaryColor: rgb(211, 52, 39);
    --navLogoHeight: 6vw;
    --navLinkPadding: 180px;
    }
    .collegeLabel {    
        padding: 0 2vw 0.5rem;
    }
    .collegeDetails p:first-child {
        font-size: 1.5rem;
        margin-bottom: 0.85rem;
    }
    .collegeDetails p:last-child {
        font-size: 0.95rem;
    }
    nav {
        height: calc(0.9* var(--navLogoHeight));
        max-height: 120px;
    }
    .navLogo {
        display: none;
        flex: 0 0 25%;
        transform: translateX(-55px);
        transform: scale(0.5);
        transition: transform 3s ease-in-out;
    }
    .navLogo.sticked {
        display: flex;
        flex: 0 0 25%;
        transform: scale(1);
        transition: transform 3s ease-in-out;
    }
    .navImage {
        padding-top: 0.15rem;
    }
    .navImage img {
        height: var(--navLogoHeight);
        max-height: 200px;
    }
    .navTitle {
        transform: translateX(0);
    }
    .navTitle p {
        font-size: 0.95rem;
        font-weight: normal;
        align-self: flex-start;
        justify-content: flex-start;
        text-align: center;
        padding: 0;
        padding-top: 0.1vw;
    }
    .navLinks {
        flex: 0 0 60%;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 100%;
        height: fit-content;
        top: auto;
        right: auto;
        opacity: 1;
        pointer-events: auto;
    }
    .navLinks.sticked {
        flex: 0 1 65%;
    }
    .navLink {    
        flex-direction: row;
        text-align: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        padding: 0.65rem 1.5rem;
        font-size: 1.25rem;
        transition: 0.3s padding ease-in-out 0.3s font-size ease-in-out;
    }
    .navLink.sticked {
        padding: 0.5rem 0.95rem;
        font-size: 1.15rem;
    }
    .navLink:last-child {
        padding: 0.65rem 1.5rem;
    }
    .navLinkSymbol {
        display: none;
    }
    .navHamburger {
        display: none;
    }
    .landingSection {
        background-color: white;
        height: 150vh;
    }
}